article {
  background-color: aliceblue;
  border: 5px solid darkcyan;
  padding: 1vw;
  margin: 1vw;
  width: 20%;
}

h2 {
  display: inline;
  font-size: 1.7vw;
  margin-right: 30px;
}

p {
  font-size: 1vw;
}

#likes {
  margin-top: -2vw;
  margin-right: 10px;
  text-align: right;
}

article img {
  width: 100%;
}