article {
  background-color: aliceblue;
  border: 5px solid darkcyan;
  padding: 1vw;
  margin: 1vw;
  width: 20%;
}

h2 {
  float: left;
}

#likes {
  margin-top: 25px;
  margin-right: 10px;
  text-align: right;
}

article img {
  width: 100%;
}